*~
/Blatt1/nbproject/private/
/Blatt2Aufgabe1a/nbproject/private/
/Blatt2Aufgabe1b/nbproject/private/
/Blatt2Aufgabe2/nbproject/private/
/Blatt3Aufgabe1/nbproject/private/
/Blatt3Aufgabe2/nbproject/private/
/Blatt3Aufgabe3/nbproject/private/
/Blatt4Aufgabe1/nbproject/private/
/Blatt4Aufgabe1a/nbproject/private/
/Blatt4Aufgabe2a/nbproject/private/
/BlattAufgabe2b/nbproject/private/
/Blatt4Aufgabe2b/nbproject/private/
/Blatt4Aufgabe3/nbproject/private/
/Blatt4Aufgabe2c/nbproject/private/
/Blatt5Aufgabe1/nbproject/private/
/Blatt5Aufgabe2/nbproject/private/
/Blatt5Aufgabe3/nbproject/private/
/Blatt6Aufgabe1/nbproject/private/
/Blatt6Aufgabe1/build/
/Blatt6Aufgabe2/nbproject/private/
