*~
/Blatt1/nbproject/private/

/Blatt2/Blatt2Aufgabe1a/nbproject/private/
/Blatt2/Blatt2Aufgabe1b/nbproject/private/
/Blatt2/Blatt2Aufgabe2/nbproject/private/

/Blatt3/Blatt3Aufgabe1/nbproject/private/
/Blatt3/Blatt3Aufgabe2/nbproject/private/
/Blatt3/Blatt3Aufgabe3/nbproject/private/

/Blatt4/Blatt4Aufgabe1/nbproject/private/
/Blatt4/Blatt4Aufgabe2a/nbproject/private/
/Blatt4/Blatt4Aufgabe2b/nbproject/private/
/Blatt4/Blatt4Aufgabe3/nbproject/private/

/Blatt5/Blatt5Aufgabe1/nbproject/private/
/Blatt5/Blatt5Aufgabe2/nbproject/private/
/Blatt5/Blatt5Aufgabe3/nbproject/private/

/Blatt6/Blatt6Aufgabe1/nbproject/private/
/Blatt6/Blatt6Aufgabe1/build/
/Blatt6/Blatt6Aufgabe2/nbproject/private/

/Blatt7/Aufgabe_7_2_1/nbproject/private/
/Blatt7/Blatt7Aufgabe2.1/nbproject/private/
/Blatt7/Blatt7Aufgabe1.1/nbproject/private/
/Blatt7/Blatt7Aufgabe1.1/build/
/Blatt7/Blatt7Aufgabe1.2/nbproject/private/
/Blatt7/Blatt7Aufgabe1.2/build/
/Blatt7/Blatt7Aufgabe1.2/dist/
/Blatt7/Blatt7Aufgabe2.1/build/
/Blatt7/Blatt7Aufgabe2.2/nbproject/private/
/Blatt7/Blatt7Aufgabe2.2/build/